// common file
src
test
script
dist
// config file
tsconfig.json
node_modules
.yarnrc
yarn-error.log
yarn.lock
.eslintcache
.eslintrc.json
.commitlintrc.json
.editconfig
.editorconfig
.eslintignore
pnpm-lock.yaml
tsconfig.type.json
.prettierrc
.gitignore
.commitlintrc.json
.husky
